In [1]:
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_excel('Book1.xlsx')

In [5]:
df=pd.DataFrame(df)
df

    n1  n2  n3  n4  output
0   10  20  30  40     100
1   11  21  31  41     104
2   12  22  32  42     108
3   13  23  33  43     112
4   14  24  34  44     116
5   15  25  35  45     120
6   16  26  36  46     124
7   17  27  37  47     128
8   18  28  38  48     132
9   19  29  39  49     136
10  20  30  40  50     140
11  21  31  41  51     144
12  22  32  42  52     148
13  23  33  43  53     152

In [6]:
x=df[['n1','n2','n3']]

In [7]:
x

    n1  n2  n3
0   10  20  30
1   11  21  31
2   12  22  32
3   13  23  33
4   14  24  34
5   15  25  35
6   16  26  36
7   17  27  37
8   18  28  38
9   19  29  39
10  20  30  40
11  21  31  41
12  22  32  42
13  23  33  43

In [8]:
y=df['output']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [10]:
reg = LinearRegression().fit(x, y)
reg.score(x, y)

1.0

In [11]:
reg.predict([[23,33,43]])

array([152.])

In [12]:
import joblib

In [13]:
joblib.dump(reg, 'filename.pkl')

['filename.pkl']

In [14]:
knn_from_joblib = joblib.load('filename.pkl')

In [15]:
knn_from_joblib.predict([[22,32,42]])

array([148.])

In [16]:
import json

In [17]:
s=pd.read_json('mathis11.json')

In [18]:
knn_from_joblib.predict(s)

array([392.])